<div class="input-group mb-3">
    <div class="input-group-prepend"><span class="input-group-text">Countries:</span></div>
    <select class="selectpicker form-control" multiple data-live-search="true" name="countries" id="countries">
        <option>Australia</option>
        <option>Austria</option>
        <option>Belgium</option>
        <option>Canada</option>
        <option data-tokens="prc people's republic">China</option>
        <option>Croatia</option>
        <option>Czech Republic</option>
        <option>Denmark</option>
        <option>Estonia</option>
        <option>Finland</option>
        <option>France</option>
        <option>Germany</option>
        <option>Greece</option>
        <option data-tokens="hk">Hong Kong</option>
        <option>Honduras</option>
        <option>Hungary</option>
        <option>India</option>
        <option data-tokens="republic">Ireland</option>
        <option>Israel</option>
        <option>Italy</option>
        <option>Japan</option>
        <option data-tokens="republic">South Korea</option>
        <option>Latvia</option>
        <option>Lithuania</option>
        <option>Malaysia</option>
        <option>Mexico</option>
        <option>Netherlands</option>
        <option>Norway</option>
        <option data-tokens="nz">New Zealand</option>
        <option>Poland</option>
        <option>Portugal</option>
        <option>Russia</option>
        <option data-tokens="sg">Singapore</option>
        <option>Slovenia</option>
        <option>South Africa</option>
        <option>Spain</option>
        <option>Sweden</option>
        <option>Switzerland</option>
        <option>Taiwan</option>
        <option>Thailand</option>
        <option>Turkey</option>
        <option data-tokens="uk britain england scotland wales northen ireland">United Kingdom</option>
        <option>Uruguay</option>
        <option data-tokens="usa">United States of America</option>
    </select>
    <div class="input-group-append">
        <label class="form-check-label" for="country_clear" style="cursor:pointer">
            <span class="input-group-text">
                <input class="form-check-input" type="checkbox" id="country_clear" onClick="clearCountry()" style="opacity:0">
                Clear
            </span>
        </label>
      </div>
</div>