<option>ACC1002 Financial Accounting</option>
<option>ACC1002X Financial Accounting</option>
<option>ACC1701 Accounting for Decision Makers</option>
<option>ACC1701X Accounting for Decision Makers</option>
<option>ACC2002 Managerial Accounting</option>
<option>ACC2706 Managerial Accounting</option>
<option>ACC2709 Accounting Information Systems</option>
<option>ACC4711 Advanced Taxation</option>
<option>ACC4712 Forensic Accounting</option>
<option>ACC4761E SIA: Public Sector Audit</option>
<option>AH2741 Department exchange module</option>
<option>AR2102 Design 4</option>
<option>AR2221 History and Theory of Southeas</option>
<option>AR2222 Hist & Theory Of Western Archi</option>
<option>AR2226 Hist & Theory Of Modern Archi</option>
<option>AR2327 Architectural Tectonics</option>
<option>AR2723 Strat for Sustainable Archi</option>
<option>AR3101 Design 5</option>
<option>AR3421 Introduction to Architectural</option>
<option>AR3721 Building Environmental System</option>
<option>AR4101 Design 7</option>
<option>AR4103 Architectural & Tech Design 1</option>
<option>AR4322 Design Simulation & Analysis</option>
<option>AR5011 Research Methodology</option>
<option>AR5221 CONTEMPORARY THEORIES</option>
<option>AR5321 Advanced Architectural Integra</option>
<option>AX1811 Department exchange module</option>
<option>AX2701 Special Exchange Module</option>
<option>BSE3701 Macroeconomic Principles in th</option>
<option>BSE3703 Econometrics for Business I</option>
<option>BSN3701 Technological Innovation</option>
<option>BSN3702 New Venture Creation</option>
<option>BSN3703 Entrepreneurial Strategy</option>
<option>BSP1004 Legal Environment Of Business</option>
<option>BSP1005X Managerial Economics</option>
<option>BSP1702 Legal Environment of Business</option>
<option>BSP1702X Legal Environment of Business</option>
<option>BSP1703 Managerial Economics</option>
<option>BSP1703X Managerial Economics</option>
<option>BSP1707 Managerial Economics: Exposure</option>
<option>BSP2011 Asian Business Environments</option>
<option>BSP2701 Global Economy</option>
<option>BSP3001 Strategic Management</option>
<option>BSP3011 Family Business</option>
<option>BSP3701 Strategic Management</option>
<option>BT1101 Introduction to Business Analy</option>
<option>BT2101 Decision Making Methods & Tool</option>
<option>BT2102 Data Management and Visualisat</option>
<option>BT3102 Computational Methods for Busi</option>
<option>BT3103 Application Systems Developmen</option>
<option>BT4012 Fraud Analytics</option>
<option>BT4013 Analytics for Capital Market T</option>
<option>BT4014 Analytics Driven Design of Ada</option>
<option>BT4015 Geospatial Analytics</option>
<option>BT4016 Risk Analytics for Financial S</option>
<option>BT4211 Data-Driven Marketing</option>
<option>BT4212 Search Engine Optimization & A</option>
<option>BT4221 Big Data Techniques & Technolo</option>
<option>BT4222 Mining Web Data for Business I</option>
<option>BT4240 Machine Learning for Predictiv</option>
<option>BXT3041 Business Exchange Topic</option>
<option>BXT3761X Business Exchange Topic</option>
<option>CG2271 Real-Time Operating Systems</option>
<option>CM1111 Inorganic Chemistry 1</option>
<option>CM1121 Organic Chemistry 1</option>
<option>CM1131 Physical Chemistry 1</option>
<option>CM1401 Chemistry for Life Sciences</option>
<option>CM1417 Fundamentals of Chemistry</option>
<option>CM1991 Exchange Enrichment Level 1000</option>
<option>CM2101 Physical Chemistry 2</option>
<option>CM2121 Organic Chemistry 2</option>
<option>CM2991 Exchange Enrichment Module</option>
<option>CM3201 Principles of Chemical Process</option>
<option>CM3212 Transition Metal Chemistry</option>
<option>CM3221 Organic Synthesis: The Disconn</option>
<option>CM3222 Organic Reaction Mechanisms</option>
<option>CM3225 Biomolecules</option>
<option>CM3231 Quant Chem&Molecular Thermodyn</option>
<option>CM3242 Instrumental Analysis II</option>
<option>CM3251 Nanochemistry</option>
<option>CM3252 Polymer Chemistry 1</option>
<option>CM3253 Materials Chemistry 1</option>
<option>CM3261 Environmental Chemistry</option>
<option>CM3296 Molecular Modelg:Theory & Prac</option>
<option>CM3301 Advanced Forensic Science</option>
<option>CM3991 Exchange Enrichment Module</option>
<option>CM4211 Adv Coordination Chemistry</option>
<option>CM4212 Adv Organometallic Chemistry</option>
<option>CM4214 Structural Mtds in Inorg Chem</option>
<option>CM4225 Organic Spectroscopy</option>
<option>CM4227 Chemical Biology</option>
<option>CM4228 Catalysis</option>
<option>CM4238 Selected Topics in Physical Ch</option>
<option>CM4241 Trace Analysis</option>
<option>CM4242 Advanced Analytical Techniques</option>
<option>CM4269 Sustainable & Green Chemistry</option>
<option>CM4271 MEDICINAL CHEMISTRY</option>
<option>CM4274 The Art and Methodology in T.S</option>
<option>CM4282 Energy Resources</option>
<option>CM4991 Exchange Enrichment Module</option>
<option>COS2000 Computational Thinking for Sci</option>
<option>CS1010 Programming Methodology</option>
<option>CS1010E Programming Methodology</option>
<option>CS1010J Programming Methodology</option>
<option>CS1010S Programming Methodology</option>
<option>CS1231 Discrete Structures</option>
<option>CS2010 Data Structures & AlgorithmsII</option>
<option>CS2030 Programming Methodology II</option>
<option>CS2040 Data Structures and Algorithms</option>
<option>CS2040C Data Structures and Algorithms</option>
<option>CS2100 Computer Organisation</option>
<option>CS2102 Database Systems</option>
<option>CS2103 Software Engineering</option>
<option>CS2104 Programming Language Concepts</option>
<option>CS2105 Intro to Computer Networks</option>
<option>CS2106 Intro to Operating Systems</option>
<option>CS2107 Introduction to Information Se</option>
<option>CS2108 Introduction to Media Computin</option>
<option>CS2113 Software Engineering & Object-</option>
<option>CS2220 Intro to Computational Biology</option>
<option>CS2309 CS Research Methodology</option>
<option>CS3103 Computer Networks Practice</option>
<option>CS3210 Parallel Computing</option>
<option>CS3211 Parallel & Concurrent Programg</option>
<option>CS3216 Software Product Engineering</option>
<option>CS3217 SW Engg on Modern Appln Platfm</option>
<option>CS3218 Multimodal Processing in Mobil</option>
<option>CS3219 Software Engineering Principle</option>
<option>CS3220 Computer Architecture</option>
<option>CS3221 Operatg Sys Desgn & Pragmatics</option>
<option>CS3223 Database Systems Implementatio</option>
<option>CS3226 Web Programming and Applicatio</option>
<option>CS3230 Design & Analysis of Algorithm</option>
<option>CS3233 Competitive Programming</option>
<option>CS3234 Logic for Proofs and Programs</option>
<option>CS3235 Computer Security</option>
<option>CS3236 Introduction to Information Th</option>
<option>CS3237 Introduction to Internet of Th</option>
<option>CS3240 Interaction Design</option>
<option>CS3241 Computer Graphics</option>
<option>CS3242 3D Modeling and Animation</option>
<option>CS3243 Introduction to Artificial Int</option>
<option>CS3244 Machine Learning</option>
<option>CS3245 Information Retrieval</option>
<option>CS3247 Game Development</option>
<option>CS3249 User Interface Development</option>
<option>CS4211 Formal Methods for Software En</option>
<option>CS4212 Compiler Design</option>
<option>CS4215 Programming Language Implement</option>
<option>CS4218 Software Testing</option>
<option>CS4222 Wireless Networking</option>
<option>CS4223 Multi-core Architectures</option>
<option>CS4225 Big Data Systems for Data Scie</option>
<option>CS4226 Internet Architecture</option>
<option>CS4231 Parallel & Distr Algorithms</option>
<option>CS4232 Theory of Computation</option>
<option>CS4234 Optimisation Algorithms</option>
<option>CS4236 Cryptography Theory & Practice</option>
<option>CS4238 Computer Security Practice</option>
<option>CS4239 Software Security</option>
<option>CS4240 Interaction Design for Virtual</option>
<option>CS4242 Social Media Computing</option>
<option>CS4243 Comp Vision & Pattern Recogntn</option>
<option>CS4244 Knowledge Representation and R</option>
<option>CS4246 AI Planning and Decision Makin</option>
<option>CS4247 Graphics Rendering Techniques</option>
<option>CS4248 Natural Language Processing</option>
<option>CS4249 Phenomena and Theories of Huma</option>
<option>CS4261 Algorithmic Mechanism Design</option>
<option>CS4268 Quantum Computing</option>
<option>CS4269 Fundamentals of Logic in Compu</option>
<option>CS4277 3D Computer Vision</option>
<option>CS4278 Intelligent Robots: Algorithms</option>
<option>CS4345 General-Purpose Computation on</option>
<option>CS4880 Digital Entrepreneurship</option>
<option>CS5223 Distributed Systems</option>
<option>CS5224 Cloud Computing</option>
<option>CS5228 Knowledge Discovery and Data M</option>
<option>CS5229 Advanced Computer Networks</option>
<option>CS5231 Systems Security</option>
<option>CS5234 Algorithms at Scale</option>
<option>CS5239 Computer System Performance An</option>
<option>CS5241 Speech Processing</option>
<option>CS5242 Neural Networks &Deep Learning</option>
<option>CS5272 Embedded Software Design</option>
<option>CS5321 Network Security</option>
<option>CS5330 Randomized Algorithms</option>
<option>CS5339 Theory and Algorithms for Mach</option>
<option>CS5340 Uncertainty Modelling in AI</option>
<option>CS5343 Advanced Computer Animation</option>
<option>CS5346 Information Visualisation</option>
<option>DAO1704 Deci Analytics using Spreadsh</option>
<option>DAO1704X Deci Analytics using Spreadsh</option>
<option>DAO2702 Programming for Biz Analytics</option>
<option>DAO2703 Operations and Technology Mana</option>
<option>DBA3701 Introduction to Optimization</option>
<option>DBA3711 Stochastic Models in Mgt</option>
<option>DBA3712 Dynamic Pricing & Revenue Mgt</option>
<option>DBA3761X Topics in Business Analytics</option>
<option>DBA3761Y Topics in Business Analytics</option>
<option>DBA3761Z Topics in Business Analytics</option>
<option>DBA3803 Predictive Analytics in Biz</option>
<option>DBA4712 Statistical Learning for Manag</option>
<option>DBA4811 Analy. Tools for Consulting</option>
<option>DOS3701 Supply Chain Management</option>
<option>DOS3702 Purchasing and Materials Mgt</option>
<option>DOS3703 Service Operations Management</option>
<option>DOS3704 Operations Strategy</option>
<option>DOS3712 Physical Distribution Mgt</option>
<option>DOS3713 Project Management</option>
<option>DOS3714 Sustainable Operations Mgt</option>
<option>DOS3761X Topics in Operations & SCM</option>
<option>DOS3761Y Topics in Operations & SCM</option>
<option>DOS3761Z Topics in Operations & SCM</option>
<option>DOS3811 Technology and Business Innova</option>
<option>DOS4712 Co-ordination and Flexibility</option>
<option>DOS4811 Data Visualisation</option>
<option>DSA2102 Essential Data Analytics Tools</option>
<option>DSA3102 Essential Data Analytics Tool</option>
<option>DSC1007 Business Analytics - Mod&Dec</option>
<option>DSC2006 Operations Management</option>
<option>DSC2703 Operations and Technology Mana</option>
<option>DSC3201 Supply Chain Management</option>
<option>DSC3202 Purchasing & Materials Mgmt</option>
<option>DSC3203 Service Operations Management</option>
<option>DSC3214 Introduction To Optimisation</option>
<option>DSC3215 Stochastic Models In Mgmt</option>
<option>DSC3216 Predictive Analytics in BIZ</option>
<option>DSC3218 Physical Distribution Mgmt</option>
<option>DSC3222 Tp In Ops&Suply Ch Mgt(TIOSCM)</option>
<option>DSC3222X Tp In Ops&Suply Ch Mgt(TIOSCM)</option>
<option>DSC3222Y Tp In Ops&Suply Ch Mgt(TIOSCM)</option>
<option>DSC3222Z Tp In Ops&Suply Ch Mgt(TIOSCM)</option>
<option>DSC3224 Dynamic Pricing & Revenue Mana</option>
<option>DSC3226 Sustainable Operations Managem</option>
<option>EG2401A Engineering Professionalism</option>
<option>EN2273 Introduction to Creative Writi</option>
<option>EN2274 Introduction to Screenwriting</option>
<option>EN3741 Department Exchange Module</option>
<option>EN3742 Department Exchange Module</option>
<option>ENV2991 Exchange Enrichment Level 2000</option>
<option>ENV2992 Exchange Enrichment Level 2000</option>
<option>ENV2994 Exchange Enrichment Level 2000</option>
<option>ENV3991 Exchange Enrichment Level 3000</option>
<option>EU2741 Department Exchange Module</option>
<option>EX1000 Exchange UEM</option>
<option>EX1001 Exchange UEM</option>
<option>EX1002 Exchange UEM</option>
<option>EX1003 Exchange UEM</option>
<option>EX1004 Exchange UEM</option>
<option>EX1020 Exchange UEM</option>
<option>EX1021 Exchange UEM</option>
<option>EX1022 Exchange UEM</option>
<option>EX1023 Exchange UEM</option>
<option>EX1030 Exchange UEM</option>
<option>EX1031 Exchange UEM</option>
<option>EX1040 Exchange UEM</option>
<option>EX1041 Exchange UEM</option>
<option>EX1042 Exchange UEM</option>
<option>EX1043 Exchange UEM</option>
<option>EX1102 Exchange UEM</option>
<option>EX1103 Exchange UEM</option>
<option>EX1104 Exchange UEM</option>
<option>EX1105 Exchange UEM</option>
<option>EX2000 Exchange UEM</option>
<option>EX2001 Exchange UEM</option>
<option>EX2002 Exchange UEM</option>
<option>EX2003 Exchange UEM</option>
<option>EX2004 Exchange UEM</option>
<option>EX2005 Exchange UEM</option>
<option>EX2006 Exchange UEM</option>
<option>EX2010 Exchange UEM</option>
<option>EX2011 Exchange UEM</option>
<option>EX2012 Exchange UEM</option>
<option>EX2013 Exchange UEM</option>
<option>EX2014 Exchange UEM</option>
<option>EX2020 Exchange UEM</option>
<option>EX2021 Exchange UEM</option>
<option>EX2023 Exchange UEM</option>
<option>EX2030 Exchange UEM</option>
<option>EX2040 Exchange UEM</option>
<option>EX2041 Exchange UEM</option>
<option>EX2043 Exchange UEM</option>
<option>EX2050 Exchange UEM</option>
<option>EX2051 Exchange UEM</option>
<option>EX2052 Exchange UEM</option>
<option>EX2053 Exchange UEM</option>
<option>EX2100 Exchange UEM</option>
<option>EX2101 Exchange UEM</option>
<option>EX3000 Exchange UEM</option>
<option>EX3101 Exchange UEM</option>
<option>EX3610 Unrestricted Elective Outside</option>
<option>EX3612 Exchange UEM</option>
<option>EX3613 Exchange UEM Module</option>
<option>EX3614 Exchange UEM Module</option>
<option>EX3618 Exchange UEM</option>
<option>EX3619 Exchange UEM</option>
<option>EX3881 Exchange ULR Breadth</option>
<option>EX3882 Exchange ULR Breadth</option>
<option>EX3883 Exchange ULR Breadth</option>
<option>EX3884 Exchange ULR Breadth</option>
<option>EX3885 Exchange UEM</option>
<option>EX3886 Exchange UEM</option>
<option>EX3888 Exchange UEM</option>
<option>EX4042 Exchange UEM</option>
<option>EX4043 Exchange UEM</option>
<option>EX4044 Exchange UEM</option>
<option>EX4045 Exchange UEM</option>
<option>EX4047 Exchange UEM</option>
<option>EX4048 Exchange UEM</option>
<option>EX4049 Exchange UEM</option>
<option>EX4873 Exchange UEM</option>
<option>EX4874 Unrestricted Elective Outside</option>
<option>EX4875 Unrestricted Elective Outside</option>
<option>EX4876 Exchange UEM</option>
<option>EX4878 Exchange UEM</option>
<option>EX4881 Exchange UEM 2</option>
<option>EX4882 Exchange UEM 3</option>
<option>EX4883 Exchange UEM 4</option>
<option>EX4884 Exchange UEM 5</option>
<option>EX4885 Exchange UEM 6</option>
<option>EX4886 Exchange UEM 7</option>
<option>EX4888 Exchange UEM</option>
<option>EX4889 Exchange UEM</option>
<option>EX4890 UEM Exchange Module</option>
<option>EX4892 Exchange UEM</option>
<option>EX4893 Exchange UEM</option>
<option>FIN2004 Finance</option>
<option>FIN2004X Finance</option>
<option>FIN2704 Finance</option>
<option>FIN2704X Finance</option>
<option>FIN3101 Corporate Finance</option>
<option>FIN3102 Investmt Anlys & Portfolio Mgt</option>
<option>FIN3103 Financial Markets</option>
<option>FIN3113 Financial Statement Analysis</option>
<option>FIN3115 International Financial Mgmt</option>
<option>FIN3116 Options and Futures</option>
<option>FIN3117 Bank Management</option>
<option>FIN3118 Financial Risk Management</option>
<option>FIN3119 Risk and Insurance</option>
<option>FIN3120 Topics in Finance (TIF)</option>
<option>FIN3120X Topic in Finance</option>
<option>FIN3120Y Topic in Finance</option>
<option>FIN3120Z Topic in Finance</option>
<option>FIN3130 Financial Modelling</option>
<option>FIN3131 Fixed Income Securities</option>
<option>FIN3701 Corporate Finance</option>
<option>FIN3702 Inv. Analysis & Portfolio Mgt</option>
<option>FIN3703 Financial Markets</option>
<option>FIN3711 International Financial Mgt</option>
<option>FIN3712 Options and Futures</option>
<option>FIN3713 Bank Management</option>
<option>FIN3714 Financial Risk Management</option>
<option>FIN3715 Risk and Insurance</option>
<option>FIN3716 Financial Modelling</option>
<option>FIN3717 Fixed Income Securities</option>
<option>FIN3718 Value Investing in Asia</option>
<option>FIN3719 Household Finance</option>
<option>FIN3720 Financial Statement Analysis</option>
<option>FIN3761B TIF: Chinaís Capital Markets</option>
<option>FIN3761C TIF: Foreign Exchange Trading</option>
<option>FIN3761X Topics in Finance</option>
<option>FIN3761Y Topics in Finance</option>
<option>FIN3761Z Topics in Finance</option>
<option>FIN4711 Research Methods in Finance</option>
<option>FIN4712 Personal Finance & Wealth Mgt</option>
<option>FIN4713 Adv Portfo Mgt: Sec. Ana.&Valn</option>
<option>FIN4714 Valn and Merg. & Acquistion</option>
<option>FIN4717 Entrepreneurial Finance</option>
<option>FIN4718 FinTech Management</option>
<option>FIN4761A SIF: Private Equity</option>
<option>FIN4761B SIF: Investment Banking</option>
<option>FIN4761C SIF:Applied Portfolio Mgt Tech</option>
<option>FST1991 Exchange Enrichment Level 1000</option>
<option>FST2108 Food Safety Assurance</option>
<option>FST2201 Intro to Human Nutrition</option>
<option>FST2991 Exchange Enrichment Module</option>
<option>FST3101 Food Enzymology & Fermentation</option>
<option>FST3103 Advanced Food Engineering</option>
<option>FST3105 Food Product Development and P</option>
<option>FST3106 Sensory and Flavour Science</option>
<option>FST3202 Nutrition & Disease Prevention</option>
<option>FST3991 Exchange Enrichment Module</option>
<option>FST4103 FOOD COLLOIDS & COMPONENTS SCI</option>
<option>FST4201 Current Topics (Food Sci&Tech)</option>
<option>GL1711 Global Studies Exchange Dummy</option>
<option>GL1741 Global Studies Exchange Dummy</option>
<option>GL2102 Global Political Economy</option>
<option>GL2103 Global Governance</option>
<option>GL2741 Department exchange module</option>
<option>GL2742 Department exchange module</option>
<option>GL2842 Department exchange module</option>
<option>GL3101 Inquiry and Method</option>
<option>GL3741 Department exchange module</option>
<option>GL3742 Department exchange module</option>
<option>GL3743 Department exchange module</option>
<option>GL3744 Department exchange module</option>
<option>GL3745 Department exchange module</option>
<option>GL3841 Department exchange module</option>
<option>GL3842 Department exchange module</option>
<option>GL4751 Department exchange module</option>
<option>GL4752 Department exchange module</option>
<option>GL4880A Globalization, Culture, and Id</option>
<option>GL4881A Colonial, Anticolonial and Pos</option>
<option>GL4882A Development and the Globalisat</option>
<option>GL4883A Conflict and Natural Resources</option>
<option>GL4885A International Law and World Po</option>
<option>GL4886 Topics in Population and Migra</option>
<option>GL4886A Citizenship and the Politics</option>
<option>GL4887 Topics in Religion and Ethnici</option>
<option>GL4889 Topics in War and Security</option>
<option>GL4889A International Law's Regulation</option>
<option>GL4889B Debates on Human Rights</option>
<option>HY2207 Strug for Mod China, 1800-1950</option>
<option>HY2220 Korea in the Twentieth Century</option>
<option>HY2237 U.S.: Fr Settlement to S'power</option>
<option>HY2250 Intro to Southeast Asia Hist</option>
<option>HY2251 From the Wheel to the Web</option>
<option>HY2711 Department Exchange Module</option>
<option>IE2100 Probability Models With Applns</option>
<option>IE2110 Operations Research I</option>
<option>IE2130 Quality Engineering I</option>
<option>IE2140 Engineering Economy</option>
<option>IE3004 Department Exchange Module</option>
<option>IE3014 Department Exchange Module</option>
<option>IE3015 Exchange Elective</option>
<option>IE3101 Statistics For Engineering App</option>
<option>IE3105 Fundamentals of Systems Engine</option>
<option>IE3110 Simulation</option>
<option>IE3110R Simulation</option>
<option>IE3112 Department Exchange Module</option>
<option>IE3114 Department Exchange Module</option>
<option>IE3120 Manufacturing Logistics</option>
<option>IE3250 Human Factors Engineering</option>
<option>IE3704 Exchange Elective</option>
<option>IE3714 Exchange Elective</option>
<option>IE3911 IE3 Technical Elective</option>
<option>IE3991 IE3 Technical Elective</option>
<option>IE3993 IE3 Technical Elective</option>
<option>IE3998 IE3 Technical Elective</option>
<option>IE3999 IE3 Technical Elective</option>
<option>IE4002 Department Exchange Module</option>
<option>IE4003 Department Exchange Module</option>
<option>IE4004 Department Exchange Module</option>
<option>IE4005 Department Exchange Module</option>
<option>IE4006 Department Exchange Module</option>
<option>IE4010 Exchange Elective</option>
<option>IE4012 Department Exchange Module</option>
<option>IE4013 Department Exchange Module</option>
<option>IE4014 Department Exchange Module</option>
<option>IE4015 Department Exchange Module</option>
<option>IE4017 Department Exchange Module</option>
<option>IE4044 Exchange Elective</option>
<option>IE4054 Exchange Elective</option>
<option>IE4055 Exchange Elective</option>
<option>IE4056 Exchange Elective</option>
<option>IE4063 Exchange Elective</option>
<option>IE4064 Exchange Elective</option>
<option>IE4065 Exchange Elective</option>
<option>IE4066 Exchange Elective</option>
<option>IE4067 Exchange Elective</option>
<option>IE4068 Exchange Elective</option>
<option>IE4111 Department Exchange Module</option>
<option>IE4112 Department Exchange Module</option>
<option>IE4113 Department Exchange Module</option>
<option>IE4114 Department Exchange Module</option>
<option>IE4115 Department Exchange Module</option>
<option>IE4119 Exchange Elective</option>
<option>IE4120 Exchange Elective</option>
<option>IE4121 Department Exchange Module</option>
<option>IE4122 Department Exchange Module</option>
<option>IE4123 Department Exchange Module</option>
<option>IE4124 Department Exchange Module</option>
<option>IE4125 Department Exchange Module</option>
<option>IE4131 Exchange Elective</option>
<option>IE4210 Operations Research II</option>
<option>IE4211 Modelling & Analytics</option>
<option>IE4220 Supply Chain Modelling</option>
<option>IE4221 Transportation Demand Modeling</option>
<option>IE4230 Quality Engineering II</option>
<option>IE4240 Project Management</option>
<option>IE4241 Work,Technology & Organization</option>
<option>IE4242 Cost Analysis And Management</option>
<option>IE4243 Decision Modeling & Risk Analy</option>
<option>IE4502 Exchange Elective</option>
<option>IE4503 Exchange Elective</option>
<option>IE4504 Exchange Elective</option>
<option>IE4505 Exchange Elective</option>
<option>IE4506 Exchange Elective</option>
<option>IE4512 Exchange Elective</option>
<option>IE4513 Exchange Elective</option>
<option>IE4514 Exchange Elective</option>
<option>IE4515 Exchange Elective</option>
<option>IE4516 Exchange Elective</option>
<option>IE4517 Exchange Elective</option>
<option>IE4518 Exchange Elective</option>
<option>IE4519 Exchange Elective</option>
<option>IE4602 Exchange Elective</option>
<option>IE4603 Exchange Elective</option>
<option>IE4604 Exchange Elective</option>
<option>IE4606 Exchange Elective</option>
<option>IE4607 Exchange Elective</option>
<option>IE4608 Exchange Elective</option>
<option>IE4609 Exchange Elective</option>
<option>IE4702 Exchange Elective</option>
<option>IE4703 Exchange Elective</option>
<option>IE4704 Exchange Elective</option>
<option>IE4705 Exchange Elective</option>
<option>IE4706 Exchange Elective</option>
<option>IE4707 Exchange Elective</option>
<option>IE4708 Exchange Elective</option>
<option>IE4709 Exchange Elective</option>
<option>IE4710 Exchange Elective</option>
<option>IE4711 Exchange Elective</option>
<option>IE4714 Exchange Elective</option>
<option>IE4721 Exchange Elective</option>
<option>IE4722 Exchange Elective</option>
<option>IE4731 Exchange Elective</option>
<option>IE4732 Exchange Elective</option>
<option>IE4733 Exchange Elective</option>
<option>IE4734 Exchange Elective</option>
<option>IE4735 Exchange Elective</option>
<option>IE4800 Exchange Elective</option>
<option>IE4879 Technical Elective</option>
<option>IE4880 Technical Elective</option>
<option>IE4881 Exchange Elective</option>
<option>IE4882 Technical Elective</option>
<option>IE4884 Exchange Elective</option>
<option>IE4885 Exchange Elective</option>
<option>IE4887 Exchange Elective</option>
<option>IE4888 Exchange Elective</option>
<option>IE4892 Exchange Elective</option>
<option>IE4912 Exchange Technical Elective</option>
<option>IE4913 Exchange Technical Elective</option>
<option>IE4916 Exchange Elective</option>
<option>IE4984 Exchange Elective</option>
<option>IE4985 Exchange Elective</option>
<option>IE4986 Exchange Elective</option>
<option>IE4987 Exchange Elective</option>
<option>IE4988 Exchange Elective</option>
<option>IE4990 Exchange Elective 10</option>
<option>IE4991 Exchange Elective 1</option>
<option>IE4992 Exchange Elective 2</option>
<option>IE4993 Exchange Elective 3</option>
<option>IE4994 Exchange Elective</option>
<option>IE4995 Exchange Elective 5</option>
<option>IE4997 Exchange Elective</option>
<option>IE4998 Exchange Elective 8</option>
<option>IE4999 Exchange Elective</option>
<option>IE5301 Human Factors In Engineering A</option>
<option>IFS4101 Legal Aspects of Information S</option>
<option>IFS4102 Digital Forensics</option>
<option>IFS4103 Penetration Testing Practice</option>
<option>IS1103 Ethics in Computing</option>
<option>IS2102 Enterprise Systems Architectur</option>
<option>IS3101 Management of Information Syst</option>
<option>IS3103 Information Systems Leadership</option>
<option>IS3106 Enterprise Systems Interface D</option>
<option>IS3150 Digital Media Marketing</option>
<option>IS3221 ERP Systems with Analytics Sol</option>
<option>IS3223 IT and Supply Chain Management</option>
<option>IS3240 Digital Platform Strategy and</option>
<option>IS3251 Principles of Technology Entre</option>
<option>IS3261 Mobile Apps Development for En</option>
<option>IS4100 IT Project Management</option>
<option>IS4151 Pervasive Technology Solutions</option>
<option>IS4204 IT Governance</option>
<option>IS4228 Information Technologies in Fi</option>
<option>IS4231 Information Security Mgmt</option>
<option>IS4233 Legal Aspects of Information T</option>
<option>IS4234 Compliance and Regulation Tech</option>
<option>IS4240 Business Intelligence Systems</option>
<option>IS4241 Social Media Network Analysis</option>
<option>IS4242 Intelligent Systems and Techni</option>
<option>IS4243 Information Systems Consulting</option>
<option>IS4250 IT-enabled Healthcare Solution</option>
<option>IS4260 E-Commerce Business Models</option>
<option>IS4261 Designing IT-enabled Business</option>
<option>IS4302 Blockchain and Distributed Led</option>
<option>IS4303 IT-mediated financial solution</option>
<option>IT1001 Introduction to Computing</option>
<option>IT3010 Data Management for Business</option>
<option>IT3011 Introduction to Machine Learn</option>
<option>LA4301 Material and Design</option>
<option>LA4701 MLA Studio: Quarter</option>
<option>LA5301 Geo Design</option>
<option>LAC1201 Chinese 1</option>
<option>LAC1721 Department Exchange Module</option>
<option>LAC1731 Department exchange module</option>
<option>LAC2731 Department Exchange Module</option>
<option>LAC3731 Department Exchange Module</option>
<option>LAF1201 French 1</option>
<option>LAF2201 French 2</option>
<option>LAG1201 German 1</option>
<option>LAG1741 Department Exchange Module</option>
<option>LAG2201 German 2</option>
<option>LAG2741 Department Exchange Module</option>
<option>LAG3201 German 3</option>
<option>LAG4201 German 5</option>
<option>LAK1201 Korean 1</option>
<option>LAK1721 Department Exchange Module</option>
<option>LAS1201 Spanish 1</option>
<option>LAS1741 Department Exchange Module</option>
<option>LAT4201 Thai 5</option>
<option>LSM1102 Molecular Genetics</option>
<option>LSM1105 Evolutionary Biology</option>
<option>LSM1106 Molecular Cell Biology</option>
<option>LSM1301 General Biology</option>
<option>LSM1303 Animal Behaviour</option>
<option>LSM1306 Forensic Science</option>
<option>LSM1401 Fundamentals of Biochemistry</option>
<option>LSM1991 Exchange Enrichment Module</option>
<option>LSM1992 Exchange Enrichment Module</option>
<option>LSM1996 Exchange Enrichment Level 1000</option>
<option>LSM2191 Laboratory Techniques in Life</option>
<option>LSM2211 Metabolism and Regulation</option>
<option>LSM2212 Human Anatomy</option>
<option>LSM2231 General Physiology</option>
<option>LSM2232 Genes, Genomes and Biomedical</option>
<option>LSM2233 Cell Biology</option>
<option>LSM2234 Introduction to Quantitative B</option>
<option>LSM2241 Introductory Bioinformatics</option>
<option>LSM2251 Ecology and Environment</option>
<option>LSM2252 Biodiversity</option>
<option>LSM2253 Applied Data Analysis in Ecolo</option>
<option>LSM2254 Fundamentals of Plant Biology</option>
<option>LSM2291 Fundamental Techniques in Micr</option>
<option>LSM2991 Exchange Enrichment Level 2000</option>
<option>LSM2992 Exchange Enrichment Module</option>
<option>LSM2996 Exchange Enrichment Level 2000</option>
<option>LSM3201 Research and Communication in</option>
<option>LSM3211 Fundamental Pharmacology</option>
<option>LSM3212 Human Physio:Cardiopulmon Syst</option>
<option>LSM3214 Human Physio-Hormones & Hlth</option>
<option>LSM3215 Neuronal Signaling and Memory</option>
<option>LSM3216 Neuronal Development and Disea</option>
<option>LSM3217 Human Ageing</option>
<option>LSM3218 Cardiopulmonary Pharmacology</option>
<option>LSM3219 Neuropharmacology</option>
<option>LSM3222 Human Neuroanatomy</option>
<option>LSM3223 Immunology</option>
<option>LSM3224 Molecular Basis Human Diseases</option>
<option>LSM3225 Molecular Microbiology in HD</option>
<option>LSM3226 Medical Mycology and Drug Disc</option>
<option>LSM3231 Protein Structure and Function</option>
<option>LSM3232 Microbiology</option>
<option>LSM3233 Developmental Biology</option>
<option>LSM3234 Biological Imaging of Growth a</option>
<option>LSM3241 Genomic Data Analysis</option>
<option>LSM3242 Translational Microbiology</option>
<option>LSM3243 Molecular Biophysics</option>
<option>LSM3244 Molecular Biotechnology</option>
<option>LSM3245 RNA Biology and Technology</option>
<option>LSM3246 Synthetic Biology</option>
<option>LSM3252 Evolutn & Comparative Genomics</option>
<option>LSM3254 Ecology of Aquatic Environment</option>
<option>LSM3255 Ecology of Terrestrial Env</option>
<option>LSM3256 Tropical Horticulture</option>
<option>LSM3258 Comparative Botany</option>
<option>LSM3259 Fungal Biology</option>
<option>LSM3262 Comparative Animal Physiology</option>
<option>LSM3264 Environmental Biochemistry</option>
<option>LSM3265 Entomology</option>
<option>LSM3266 Avian Biology and Evolution</option>
<option>LSM3267 Behavioural Biology</option>
<option>LSM3272 Global Change Biology</option>
<option>LSM3991 Exchange Enrichment Module</option>
<option>LSM3992 Exchange Enrichment Module</option>
<option>LSM3993 Exchange Enrichment Module</option>
<option>LSM3994 Exchange Enrichment Level 3000</option>
<option>LSM4210 Topics in Biomedical Science</option>
<option>LSM4211 Toxicology</option>
<option>LSM4213 System Neurobiology</option>
<option>LSM4214 Cancer Pharmacology</option>
<option>LSM4221 Drug Discovery&Clinical Trials</option>
<option>LSM4222 Advanced Immunology</option>
<option>LSM4223 Advances in Antimicrobial Stra</option>
<option>LSM4227 Stem Cell Biology</option>
<option>LSM4228 Experimental Models for Human</option>
<option>LSM4229 Therapeutic and diagnostic age</option>
<option>LSM4231 Structural Biology</option>
<option>LSM4232 Advanced Cell Biology</option>
<option>LSM4234 Mechanobiology</option>
<option>LSM4235 Nuclear Mechanics and Genome R</option>
<option>LSM4241 Functional Genomics</option>
<option>LSM4242 Protein Engineering</option>
<option>LSM4243 Tumour Biology</option>
<option>LSM4244 Oncogenes & Signal Transductn</option>
<option>LSM4245 Advanced Epigenetics and Chrom</option>
<option>LSM4252 Reproductive Biology</option>
<option>LSM4254 Principles of Taxonomy & Sys</option>
<option>LSM4255 Methods in Mathematical Biolog</option>
<option>LSM4256 Evolution of Development</option>
<option>LSM4257 Aquatic Vertebrate Diversity</option>
<option>LSM4259 Evolutionary Genetics of Repro</option>
<option>LSM4261 Marine Biology</option>
<option>LSM4262 Tropical Conservation Biology</option>
<option>LSM4263 Field Studies in Biodiversity</option>
<option>LSM4264 Freshwater Biology</option>
<option>LSM4265 Urban Ecology</option>
<option>LSM4267 Light & Vision in Animal Commu</option>
<option>MA1100 Basic Discrete Mathematics</option>
<option>MA1101R Linear Algebra I</option>
<option>MA1102R Calculus</option>
<option>MA1311 Matrix Algebra</option>
<option>MA1312 Calculus with Applications</option>
<option>MA1521 Calculus for Computing</option>
<option>MA1991 Exchange Enrichment Level 1000</option>
<option>MA1994 Exchange Enrichment Level 1000</option>
<option>MA2101 Linear Algebra II</option>
<option>MA2104 Multivariable Calculus</option>
<option>MA2108 Mathematical Analysis I</option>
<option>MA2202 Algebra I</option>
<option>MA2213 Numerical Analysis I</option>
<option>MA2214 Combinatorics and Graphs I</option>
<option>MA2216 Probability</option>
<option>MA2219 Introduction to Geometry</option>
<option>MA2311 Techniques In Adv Calculus</option>
<option>MA2312 Intro to Differential Equation</option>
<option>MA2991 Exchange Enrichment Module</option>
<option>MA2993 Exchange Enrichment Module</option>
<option>MA3110 Mathematical Analysis II</option>
<option>MA3111 Complex Analysis I</option>
<option>MA3201 Algebra II</option>
<option>MA3218 Applied Algebra</option>
<option>MA3220 Ordinary Differential Equation</option>
<option>MA3227 Numerical Analysis II</option>
<option>MA3233 Combinatorics and Graphs II</option>
<option>MA3236 Non-Linear Programming</option>
<option>MA3238 Stochastic Processes I</option>
<option>MA3252 Linear & Network Optimisation</option>
<option>MA3259 Math'Cal Methods In Genomics</option>
<option>MA3264 Mathematical Modelling</option>
<option>MA3265 Introduction to Number Theory</option>
<option>MA3269 Mathematical Finance I</option>
<option>MA3991 Exchange Enrichment Module</option>
<option>MA4201 Commutative Algebra</option>
<option>MA4207 Mathematical Logic</option>
<option>MA4211 Functional Analysis</option>
<option>MA4221 Partial Differential Equation</option>
<option>MA4229 Approximation Theory</option>
<option>MA4230 Matrix Computation</option>
<option>MA4233 Dynamical Systems</option>
<option>MA4235 Topics in Graph Theory</option>
<option>MA4247 Complex Analysis II</option>
<option>MA4254 Discrete Optimization</option>
<option>MA4255 Numerical Methods in Diff Eq.</option>
<option>MA4260 Stochastic Operations Research</option>
<option>MA4262 Measure and Integration</option>
<option>MA4264 Game Theory</option>
<option>MA4266 Topology</option>
<option>MA4268 Mathematics for Visual Data Pr</option>
<option>MA4269 Mathematical Finance II</option>
<option>MA4270 Data Modelling and Computation</option>
<option>MA4271 Differential Geometry of Curve</option>
<option>MA4272 Mathematical Tools for Data Sc</option>
<option>MA4291 Undergrad Topics in Maths I</option>
<option>MA4991 Exchange Enrichment Module</option>
<option>MA4992 Exchange Enrichment Module</option>
<option>ME2112 Strength of Materials</option>
<option>ME2114 Mechanics of Materials</option>
<option>ME2121 Engineering Thermodynamics and</option>
<option>ME2134 Fluid Mechanics I</option>
<option>ME2135 Intermediate Fluid Mechanics</option>
<option>ME2142 Feedback Control Systems</option>
<option>ME2143 Sensors & Actuators</option>
<option>ME3102 Mechanical Systems Design II</option>
<option>ME3103 Mechanical Systems Design</option>
<option>ME3122 Heat Transfer</option>
<option>ME3211 Mechanics Of Solids</option>
<option>ME3221 Sustainable EnergyConversion</option>
<option>ME3242 Automation</option>
<option>ME3261 Computer-Aided Design And Mfg</option>
<option>ME3291 Numerical Mtds In Engineering</option>
<option>ME3661 Technical Elective</option>
<option>ME3662 Technical Elective</option>
<option>ME3663 Exchange Technical Elective</option>
<option>ME4212 Aircraft Structures</option>
<option>ME4213 Vibration Theory And Applns</option>
<option>ME4223 Thermal Environmental Engrg</option>
<option>ME4225 Applied Heat Transfer</option>
<option>ME4227 Internal Combustion Engines</option>
<option>ME4231 Aerodynamics</option>
<option>ME4233 Comp Mtds In Fluid Mechanics</option>
<option>ME4241 Aircraft Performance, Stabilit</option>
<option>ME4245 Robot Mechanics and Control</option>
<option>ME4253 Biomaterials Engineering</option>
<option>ME4255 Materials Failure</option>
<option>ME4262 Automation In Manufacturing</option>
<option>ME4263 Fundamentals of Product Develo</option>
<option>ME4264 Automobile Design & Engineerin</option>
<option>ME4291 Finite Element Analysis</option>
<option>ME4661 Exchange Elective</option>
<option>ME4662 Exchange Technical Elective</option>
<option>ME4663 Exchange Technical Elective</option>
<option>ME4991 OOGT Exchange Elective 1</option>
<option>ME5304 Experimental Fluid Mechanics</option>
<option>MKT1003 Principles of Marketing</option>
<option>MKT1003X Principles of Marketing</option>
<option>MKT1705 Principles of Marketing</option>
<option>MKT1705X Principles of Marketing</option>
<option>MKT2401 Asian Markets & Marketing Mgmt</option>
<option>MKT2411 Retail Management</option>
<option>MKT2412 Global Marketing</option>
<option>MKT2413 Marketing Research</option>
<option>MKT3402 Consumer Behaviour</option>
<option>MKT3412 Services Marketing</option>
<option>MKT3413 Sme Marketing Strategy</option>
<option>MKT3414 Marketing Channels</option>
<option>MKT3415 Marketing in a Digital Age</option>
<option>MKT3416 Business-to-Business Marketing</option>
<option>MKT3417 Customer Relationship Manageme</option>
<option>MKT3418 Product And Brand Management</option>
<option>MKT3420 Advertising & Promotion Manage</option>
<option>MKT3421 Marketing Analysis & Decision</option>
<option>MKT3422X TOPICS IN MKTG:SEL TOPICS 1</option>
<option>MKT3422Y TOPICS IN MKTG:SEL TOPICS 2</option>
<option>MKT3422Z Topics in Marketing</option>
<option>MKT3424 Branding Strategy</option>
<option>MKT3513 Game Theory & Strategic Anlys</option>
<option>MKT3701 Marketing Strategy: Analysis a</option>
<option>MKT3702 Consumer Behaviour</option>
<option>MKT3711 Services Marketing</option>
<option>MKT3712 SME Marketing Strategy</option>
<option>MKT3713 Marketing Channels</option>
<option>MKT3714 Marketing in a Digital Age</option>
<option>MKT3715 Business-to-Business Mkting</option>
<option>MKT3716 Customer Relationship Mgt</option>
<option>MKT3717 Product & Brand Management</option>
<option>MKT3718 Advertising & Promotion Mgt</option>
<option>MKT3719 Branding Strategy</option>
<option>MKT3720 Retail Marketing</option>
<option>MKT3721 Global Marketing</option>
<option>MKT3722 Research for Marketing Insight</option>
<option>MKT3761 Topics in Marketing</option>
<option>MKT3761X Topics in Marketing</option>
<option>MKT3761Y Topics in Marketing</option>
<option>MKT3761Z Topics in Marketing</option>
<option>MKT3811 Mkting Analysis & Deci Making</option>
<option>MKT3812 Game Theory & Strat. Analysis</option>
<option>MKT4712 Mktg Theory:Cul. Crit Thinking</option>
<option>MKT4713 Mktg Strat Simul & Case Analy</option>
<option>MKT4714 Consumer Decision Making</option>
<option>MKT4811 Pricing Strategy</option>
<option>MKT4812 Marketing Analytics</option>
<option>MKT4813 Design Thinking & Business Inn</option>
<option>MNO1001 Management And Organisation</option>
<option>MNO1001X Management And Organisation</option>
<option>MNO1706 Organisational Behavior</option>
<option>MNO1706X Organisational Behavior</option>
<option>MNO2007 Leadership and Ethics</option>
<option>MNO2705 Lead.&Deci Making under Uncert</option>
<option>MNO3301 Organisational Behaviour</option>
<option>MNO3313 Topics in Leadership and Human</option>
<option>MNO3313X TOPICS IN MGT & ORG:SEL TOPICS</option>
<option>MNO3313Y TOPICS IN M & O: SEL TOPICS 3</option>
<option>MNO3313Z TOPICS IN M & O: MANAGEMENT 3</option>
<option>MNO3320 Managing Change</option>
<option>MNO3321 Training and Development</option>
<option>MNO3322 Negotiations and Bargaining</option>
<option>MNO3330 Social Entrepreneurship</option>
<option>MNO3331 Business with a Social Conscie</option>
<option>MNO3701 Human Capital Management</option>
<option>MNO3702 Negotiation and Conflict Mgt</option>
<option>MNO3703 Leading in the 21st Century</option>
<option>MNO3711 Managing Change</option>
<option>MNO3712 Training and Development</option>
<option>MNO3714 Biz with a Social Conscience</option>
<option>MNO3761 Topics in L&HCM</option>
<option>MNO3761B TILHCM: Managing China Venture</option>
<option>MNO3761X Topics in L&HCM</option>
<option>MNO3761Y Topics in L&HCM</option>
<option>MNO3761Z Topics in L&HCM</option>
<option>MNO3811 Social Entrepreneurship</option>
<option>MNO4711 Consulting to Management</option>
<option>MNO4761A SILHCM:Compensation & Perf Mgt</option>
<option>MNO4861C SILHCM:Corp Entr&Busi Mod Eval</option>
<option>MT2001 Experiencing Engineering Leade</option>
<option>MT3001 Systems Thinking & Engineering</option>
<option>MT4001 Innovation and Entrepreneurial</option>
<option>MT4002 Technology Management Strategy</option>
<option>MT4003 Engineering Product Developmnt</option>
<option>MT5001 IP Management</option>
<option>MT5006 Strategic & New Pdt Dev</option>
<option>MT5007 MANAGEMENT OF TECHNOLOGICAL IN</option>
<option>MT5911 Venture Funding</option>
<option>MT5920 Enterprise Development</option>
<option>NM3230 Digital Storytelling</option>
<option>PC1141 Introduction to Classical Mech</option>
<option>PC1142 Introduction to Thermodynamics</option>
<option>PC1143 Introduction to Electricity &</option>
<option>PC1144 Introduction to Modern Physics</option>
<option>PC1221 Fundamentals of Physics I</option>
<option>PC1222 Fundamentals of Physics II</option>
<option>PC1322 Understanding the Universe</option>
<option>PC1326 Physics in the Life Sciences</option>
<option>PC1431 Physics IE</option>
<option>PC1432 Physics IIE</option>
<option>PC1991 Exchange Enrichment Level 1000</option>
<option>PC2020 Electromagnetics for Electrica</option>
<option>PC2130 Quantum Mechanics I</option>
<option>PC2130B Applied Quantum Physics</option>
<option>PC2131 Electricity & Magnetism I</option>
<option>PC2132 Classical Mechanics</option>
<option>PC2133 Applied Solid State Physics</option>
<option>PC2134 MATHEMATICAL MTDS IN PHYSICS I</option>
<option>PC2230 Thermodynamics & Stat'cal Mech</option>
<option>PC2267 Biophysics I</option>
<option>PC2991 Exchange Enrichment Module</option>
<option>PC3130 Quantum Mechanics II</option>
<option>PC3193 Experimental Physics II</option>
<option>PC3231 Electricity & Magnetism II</option>
<option>PC3232 Nuclear & Particle Physics</option>
<option>PC3233 Atomic & Molecular Physics I</option>
<option>PC3235 Solid State Physics I</option>
<option>PC3236 Computational Mtds In Physics</option>
<option>PC3238 Fluid Dynamics</option>
<option>PC3240 Atmosphere, Ocean and Climate</option>
<option>PC3241 Solid State Devices</option>
<option>PC3243 Photonics</option>
<option>PC3246 Astrophysics I</option>
<option>PC3247 Modern Optics</option>
<option>PC3251 Nanophysics</option>
<option>PC3274 Math'cal Mtds In Physics II</option>
<option>PC3294 Radiation Laboratory</option>
<option>PC3991 Exchange Enrichment Module</option>
<option>PC4228 Device Physics for Quantum Tec</option>
<option>PC4230 Quantum Mechanics III</option>
<option>PC4240 Solid State Physics II</option>
<option>PC4241 Statistical Mechanics</option>
<option>PC4245 Particle Physics</option>
<option>PC4246 Quantum Optics</option>
<option>PC4248 General Relativity</option>
<option>PC4249 Astrophysics II</option>
<option>PC4253 Thin Film Technology</option>
<option>PC4259 Surface Physics</option>
<option>PC4264 Advanced Solid State Devices</option>
<option>PC4267 Biophysics III</option>
<option>PC4268 Biophy Instru &Biomo'lar Elec</option>
<option>PC4991 Exchange Enrichment Module</option>
<option>PF2102 Structural Systems</option>
<option>PF2108 Project Cost Management</option>
<option>PF2203 Quality and Productivity Mgmt</option>
<option>PF2502 Development Technology & Mgmt</option>
<option>PF2504 Materials Technology</option>
<option>PF3201 Measurement (Specialist Works)</option>
<option>PF3301 Maintainability of Facilities</option>
<option>PF3305 Facilities Planning and Desig</option>
<option>PF4206 Building Information Modelling</option>
<option>PF4207 Project Risk Management</option>
<option>PF4301 Strategic Facilities Managemen</option>
<option>PF4305 Green Development</option>
<option>PF4307 Event Management</option>
<option>PR1991 Exchange Enrichment Level 1000</option>
<option>PR2115 Medicinal Chemistry for Drug D</option>
<option>PR2991 Exchange Enrichment Module</option>
<option>PR2994 Exchange Enrichment Level 2000</option>
<option>PS1721 Department exchange module</option>
<option>PS2203 Ancient Western Pol Thought</option>
<option>PS2204 Modern Western Pol Thought</option>
<option>PS2232 Islamic and Hindu Pol Thought</option>
<option>PS2233 Political Ideologies</option>
<option>PS2234 Intro to Comparative Politics</option>
<option>PS2236 European Politics</option>
<option>PS2237 Intro to International Relatns</option>
<option>PS2238 Int'l Politics of NE Asia</option>
<option>PS2239 Foreign Policy and Diplomacy</option>
<option>PS2240 Intro to Public Administration</option>
<option>PS2245 Southeast Asian Politics</option>
<option>PS2248 Chinese Politics</option>
<option>PS2250 Int'l Politics of SE Asia</option>
<option>PS2254 American Gvrnmnt and Politics</option>
<option>PS2255 Politics of the Middle East</option>
<option>PS2256 Politics on Screen</option>
<option>PS2257 Contemporary African Politics</option>
<option>PS2258 Introduction to Political Theo</option>
<option>PS2701 Political Science Exchange Mod</option>
<option>PS2702 Political Science Exchange Mod</option>
<option>PS2703 POLITICAL SCIENCE EXCHANGE MOD</option>
<option>PS2711 Department Exchange Module</option>
<option>PS2712 Department exchange module</option>
<option>PS2713 Department exchange module</option>
<option>PS2721 Department Exchange Module</option>
<option>PS2722 Department Exchange Module</option>
<option>PS2741 Department Exchange Module</option>
<option>PS2742 Department Exchange Module</option>
<option>PS2743 Department Exchange Module</option>
<option>PS2744 Department Exchange Module</option>
<option>PS2745 Department Exchange Module</option>
<option>PS2843 Department exchange module</option>
<option>PS3232 Democratic Theory</option>
<option>PS3233 Political and Int'l Ethics</option>
<option>PS3236 Ethnicity & Relgn in Asian Pol</option>
<option>PS3237 Women and Politics</option>
<option>PS3238 Int'l Political Economy</option>
<option>PS3239 Int'l Conflict Analysis</option>
<option>PS3240 International Security</option>
<option>PS3242 US Foreign Policy</option>
<option>PS3243 Public Sector Orgnl Behaviour</option>
<option>PS3245 Public Personnel Adm</option>
<option>PS3246 Public Ethics and Corruption</option>
<option>PS3251 International & Regional Orgs</option>
<option>PS3252 Human Rights in Int'l Politics</option>
<option>PS3257 Political Inquiry</option>
<option>PS3258 Research Methods in Pol Sci</option>
<option>PS3259 American Political Thought</option>
<option>PS3260 Politics and the Visual</option>
<option>PS3262 Managing Non-Profit Orgns</option>
<option>PS3263 Comp Study of Development</option>
<option>PS3265 Civil-Military Relations</option>
<option>PS3271 Public Policy-Making</option>
<option>PS3272 The Intl Relns of Sub-Saharan</option>
<option>PS3273 Sg Pol in Comparat Perspective</option>
<option>PS3701 Political Science Exchange Mod</option>
<option>PS3702 Political Science Exchange Mod</option>
<option>PS3703 Political Science Exchange Mod</option>
<option>PS3704 POLITICAL SCIENCE EXCHANGE MOD</option>
<option>PS3705 POLITICAL SCIENCE EXCHANGE MOD</option>
<option>PS3706 Political Science Exchange Mod</option>
<option>PS3711 Department Exchange Module</option>
<option>PS3713 Department exchange module</option>
<option>PS3721 Department Exchange Module</option>
<option>PS3722 Department Exchange Module</option>
<option>PS3731 Department Exchange Module</option>
<option>PS3732 Department Exchange Module</option>
<option>PS3741 Department Exchange Module</option>
<option>PS3742 Department Exchange Module</option>
<option>PS3743 Department Exchange Module</option>
<option>PS3744 Department Exchange Module</option>
<option>PS3745 Department Exchange Module</option>
<option>PS3746 Department Exchange Module</option>
<option>PS3747 Department exchange module</option>
<option>PS3749 Department exchange module</option>
<option>PS3843 Department exchange module</option>
<option>PS3880D Politics of the United Nations</option>
<option>PS3880E Topics in PS: Human Traffickin</option>
<option>PS3880G Topics in PS: Research Design</option>
<option>PS3880H The Politics of European Integ</option>
<option>PS4201 Contemp Issues in Pol Theory</option>
<option>PS4203 China's Foreign Policy</option>
<option>PS4206 Regional Security in Asia-Pac</option>
<option>PS4208 Theories of Int'l Relations</option>
<option>PS4209 Public Orgn Theory & Practice</option>
<option>PS4210 Public Policy Analysis</option>
<option>PS4213 International Political Theory</option>
<option>PS4215 Politics of Non-Violence</option>
<option>PS4216 The Study of War</option>
<option>PS4217 Major Political Thinkers</option>
<option>PS4218 European Foreign Policy</option>
<option>PS4220 Rhetoric and Politics</option>
<option>PS4221 Contemp Politics of NE Asia</option>
<option>PS4224 State and Society</option>
<option>PS4225 Contemporary Issues in Chinese</option>
<option>PS4226 Emerging Markets and Economic</option>
<option>PS4228 Comparative Democratic Politic</option>
<option>PS4231 Social Theory and Internationa</option>
<option>PS4701 POLITICAL SCIENCE EXCHANGE MOD</option>
<option>PS4711 Department exchange module</option>
<option>PS4746 Political Science Exchange Mod</option>
<option>PS4747 Political Science Exchange Mod</option>
<option>PS4749 Political Science Exchange Mod</option>
<option>PS4751 Department exchange module</option>
<option>PS4752 Department exchange module</option>
<option>PS4753 Department exchange module</option>
<option>PS4881 Topics in Comparative Politics</option>
<option>PS4881F Topics in CP: Political Islam</option>
<option>PS4882 Topics in International Relati</option>
<option>PS4882A Tpc in IR:Glbn,Security &State</option>
<option>PS4882D Topics in IR: Politics of Glob</option>
<option>PS4882E Topics in IR: Arms Control</option>
<option>PS4882F The Politics of Int'l Trade</option>
<option>PS4882G Topics in IR: Politics of Intl</option>
<option>PS4882H Topics in IR: Food Politics</option>
<option>PS4883 Topics in Political Theory</option>
<option>PS4883A Topics in PT: Orientalism and</option>
<option>PS4884 Topics in Public Administratn</option>
<option>QF3101 Invt Instrumts:Theory &Computn</option>
<option>QF3991 Exchange Enrichment Module</option>
<option>QF4102 Financial Modelling and Comput</option>
<option>ST1131 Introduction to Statistics</option>
<option>ST2131 Probability</option>
<option>ST2132 Mathematical Statistics</option>
<option>ST2137 Computer Aided Data Analysis</option>
<option>ST2334 Probability and Statistics</option>
<option>ST2991 Exchange Enrichment Module</option>
<option>ST3131 Regression Analysis</option>
<option>ST3232 Design & Analysis Of Experimts</option>
<option>ST3233 Applied Time Series Analysis</option>
<option>ST3234 Actuarial Statistics</option>
<option>ST3235 Statistical Quality Control</option>
<option>ST3236 Stochastic Processes I</option>
<option>ST3239 Survey Methodology</option>
<option>ST3240 Multivariate Statistical Analy</option>
<option>ST3241 Categorical Data Analysis I</option>
<option>ST3242 Intro To Survival Analysis</option>
<option>ST3243 Stat'cal Mtds In Epidemiology</option>
<option>ST3246 Stats Models for Actuarial Sci</option>
<option>ST3247 Simulation</option>
<option>ST3248 Statistical Learning I</option>
<option>ST3991 Exchange Enrichment Module</option>
<option>ST4231 Computer Intensive Stats Mtds</option>
<option>ST4232 Nonparametric Statistics</option>
<option>ST4233 Linear Models</option>
<option>ST4234 Bayesian Statistics</option>
<option>ST4237 Probability Theory I</option>
<option>ST4238 Stochastic Processes II</option>
<option>ST4240 Data Mining</option>
<option>ST4242 Analysis of Longitudinal Data</option>
<option>ST4245 Statistical Mtds for Finance</option>
<option>ST4248 Statistical Learning II</option>
<option>ST4991 Exchange Enrichment Module</option>
<option>TR2201 Entrepreneurial Marketing</option>
<option>TR3001 New Product Development</option>
<option>TR3002 New Venture Creation</option>
<option>TR3003 Global Entrepreneurial Mktg</option>
<option>TR3008 Technological Innovation</option>
<option>TR3049 Top in Entrepreneurship (TIE)</option>
<option>TR4001 Gbl Entrepreneurial Leadershp</option>
<option>TS2711 Department Exchange Module</option>
<option>TS3741 Department Exchange Module</option>
<option>TS3742 Department Exchange Module</option>
<option>TS3743 Department Exchange Module</option>
<option>UD5221 Theory and Elements of Urban D</option>