{% extends "layout.html" %} {% block title %} SEPicker {% endblock %} {% block
main %} {% if error %}
<div class="my-alert danger" onClick="closeAlert(this)">
    {{ error }}. Click banner to dismiss.
</div>
{% endif %}
<div class="dashboard">
    <!-- when the form is "open" add a "open" class -->
    <div class="search-form-container">
        <!-- when the form is "open" add a "open" class -->
        <div
            class="{{ 'search-form-collaspsible collapse ' + ('show' if is_get else '')}}"
            id="search-form-top"
        >
            <div class="search-form-title margin-bottom-med">
                <span class="heading-primary">Picker</span>
            </div>
            <form action="/" method="post">
                <div class="form-row">
                    <div class="col">
                        <div class="form-group margin-bottom-med">
                            <div class="form-group-prepend">
                                <span class="form-group-text font-sz-mid"
                                    >Essential Modules:</span
                                >
                                <button
                                    class="btn-tertiary margin-bottom-sm"
                                    type="button"
                                    onClick="clearEM()"
                                >
                                    <span class="form-group-text">
                                        Clear
                                    </span>
                                </button>
                            </div>
                            <!-- <input
                                        name="em"
                                        type="text"
                                        class="form-control form-control-lg"
                                        aria-label="Essential Modules to be mapped"
                                        value=""
                                    /> -->
                            <select
                                class="selectpicker form-control form-control-lg font-sz-mid"
                                multiple
                                data-live-search="true"
                                name="em"
                                id="em"
                            >
                                {%include "modules_em.html"%}
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group margin-bottom-med">
                            <div class="form-group-prepend">
                                <span class="form-group-text font-sz-mid"
                                    >Optional Modules:</span
                                >
                                <button
                                    class="btn-tertiary margin-bottom-sm"
                                    type="button"
                                    onClick="clearOM()"
                                >
                                    <span class="form-group-text">
                                        Clear
                                    </span>
                                </button>
                            </div>
                            <!-- <input
                                        name="om"
                                        type="text"
                                        class="form-control form-control-lg font-sz-mid"
                                        aria-label="Optional Modules to be mapped"
                                        value=""
                                    /> -->
                            <select
                                class="selectpicker form-control form-control-lg font-sz-mid"
                                multiple
                                data-live-search="true"
                                name="om"
                                id="om"
                            >
                                {%include "modules_om.html"%}
                            </select>
                        </div>
                    </div>
                </div>
                {% include "regions2.html" %}
                <!-- <div class="form-group margin-bottom-med">
                            <div class="form-group-prepend">
                                <span class="form-group-text font-sz-mid"
                                    >Regions:</span
                                >
                            </div>
                            <div class="form-control-lg form-control">
                                <div class="form-check form-check-inline">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        id="americas"
                                        value="Americas"
                                        name="countries"
                                    />
                                    <label
                                        class="form-check-label"
                                        for="americas"
                                        >Americas</label
                                    >
                                </div>
                                <div class="form-check form-check-inline">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        id="asia"
                                        value="Asia"
                                        name="countrys"
                                    />
                                    <label class="form-check-label" for="asia"
                                        >Asia</label
                                    >
                                </div>
                            </div>
                            <button class="btn-tertiary margin-top-sm">
                                <span class="form-group-text">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        id="selectall"
                                        onClick="toggle(this)"
                                        style="opacity:0"
                                    />
                                    Select All
                                </span>
                            </button>
                        </div> -->
                {% include "countries2.html" %}
                <!-- Countries -->
                <!-- <div class="form-group margin-bottom-med">
                            <div class="form-group-prepend">
                                <span class="form-group-text font-sz-mid"
                                    >Countries:</span
                                >
                            </div>
                            <select
                                class="selectpicker form-control-lg form-control"
                                multiple
                                data-live-search="true"
                                name="regions"
                            >
                                <option class="font-sz-mid">Australia</option>
                                <option class="font-sz-mid">Austria</option>
                            </select>
                        </div> -->

                <!-- schools -->
                {% include "schools2.html" %}
                <!-- <div class="form-group margin-bottom-med">
                            <div class="form-group-prepend">
                                <span class="form-group-text font-sz-mid"
                                    >Schools:</span
                                >
                            </div>
                            <select
                                class="selectpicker form-control-lg form-control"
                                multiple
                                data-live-search="true"
                                name="schools"
                            >
                                <option class="font-sz-mid"
                                    >Aalto University, Helsinki</option
                                >
                                <option class="font-sz-mid"
                                    >Aalto University, Mikkeli</option
                                >
                                <option class="font-sz-mid"
                                    >York University</option
                                >
                                <option class="font-sz-mid"
                                    >Zhejiang University</option
                                >
                            </select>
                        </div> -->

                <button class="btn-primary margin-top-med" type="submit">
                    Calculate
                </button>
            </form>
        </div>

        <!-- when the form is "open" add a "open" class -->
        <div
            class="btn-collaspsible__up"
            data-toggle="collapse"
            data-target="#search-form-top"
        >
            <i class="fas fa-arrows-alt-v"></i>
        </div>
    </div>

    <!-- main container -->
    {% if output_dict =={} %}
    <br>
    <h2> No school maps all essential modules!</h2>
    {% else %}
    <div class="main-container">
        {%for country in output_dict%}
        <div class="country-item ">
            <div
                onClick="onCountryClick(this)"
                class="country-item__title"
                id="{{''.join(country.split()).lower()}}"
                style="cursor: pointer;"
            >
                <span class="heading-primary">{{country}}</span>
            </div>
            <div
                class="pus-container"
                id="{{''.join(country.split()).lower() + '-pus'}}"
            >
                {% for i in range(max, min-1, -1) %} {% for uni in
                output_dict[country] %} {% if
                output_dict[country][uni]["n_mods"] == i %}

                <div class="pu-item">
                    <div
                        class="pu-item__title"
                        data-toggle="collapse"
                        data-target="{{'#' + ''.join(school_mappings[uni].lower().split())}}"
                        style="cursor: pointer;"
                    >
                        <span class="heading-primary smaller">{{uni}}</span
                        ><span class="badge badge-secondary badge-primary"
                            >{{output_dict[country][uni]["n_mods"]}}</span
                        >
                    </div>

                    <div
                        class="pu-item__sm-modules-container collaspe show"
                        id="{{''.join(school_mappings[uni].lower().split())}}"
                    >
                        <!-- could be sus -->
                        {{str_of_nusmods[uni]}}
                        <i
                                    class="fas fa-star"
                                    onClick="togglePlan({{output_dict[country][uni]}},'{{uni}}',this)"
                                ></i>
                    </div>
                    <div
                        class="pu-item__mappings collapse"
                        id="{{''.join(school_mappings[uni].lower().split())}}"
                    >
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th style="width: 50%">NUS</th>
                                    <th style="width: 50%">
                                        Partner University
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for nusmod in output_dict[country][uni] %} {%
                                if nusmod != "n_mods" %}
                                <tr>
                                    <td class="hello-world">
                                        {{nusmod.upper()}}<br /><span
                                            class="description"
                                            >{{nus_code_title_dict[nusmod]}}
                                        </span>
                                    </td>
                                    <td>
                                        {{output_dict[country][uni][nusmod]["PU Module Code"]}}<br />
                                        <span class="description"
                                            >{{output_dict[country][uni][nusmod]["PU Module Title"].title()}}
                                        </span>
                                    </td>
                                </tr>
                                {% endif %}{% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                {% endif %} {% endfor %} {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <script src="static/picker.js"></script>
    {% endblock %}
</div>
