<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap"
            rel="stylesheet"
        />
        <script
            src="https://kit.fontawesome.com/aa4b3d32f9.js"
            crossorigin="anonymous"
        ></script>

        <link href="static/style.css" rel="stylesheet" type="text/css" />

        <title>SEPicker</title>
    </head>

    <body>
        <div class="navigation">
            <nav class="navigation__nav">
                <div class="navigation__name">
                    <i class="fas fa-globe-asia"></i>
                    SEPicker
                </div>
                <!-- <div class="navigation__list">
                    <a href="/picker" class="navigation__link">Picker</a>
                    <a href="/fav" class="navigation__link" disabled>Favourites</a>
                </div> -->
            </nav>
        </div>
        {% if error %}
        <div class="my-alert danger" onClick="closeAlert(this)">
            {{ error }}. Click banner to dismiss.
        </div>
        {% endif %}
        <div class="dashboard">
            <!-- when the form is "open" add a "open" class -->
            <div class="search-form-container">
                <!-- when the form is "open" add a "open" class -->
                <div
                    class="{{ 'search-form-collaspsible collapse ' + ('show' if is_get else '')}}"
                    id="search-form-top"
                >
                    <div class="search-form-title margin-bottom-med">
                        <span class="heading-primary">Picker</span>
                    </div>
                    <form action="/" method="post">
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group margin-bottom-med">
                                    <div class="form-group-prepend">
                                        <span
                                            class="form-group-text font-sz-mid"
                                            >Essential Modules:</span
                                        >
                                        <button
            class="btn-tertiary margin-bottom-sm"
            type="button"
            onClick="clearEM()"
        >
            <span class="form-group-text">
                Clear
            </span>
        </button>
                                    </div>
                                    <!-- <input
                                        name="em"
                                        type="text"
                                        class="form-control form-control-lg"
                                        aria-label="Essential Modules to be mapped"
                                        value=""
                                    /> -->
                                    <select
                                    class="selectpicker form-control form-control-lg font-sz-mid"
                                    multiple
                                    data-live-search="true"
                                    name="em" id="em">
                                    {%include "modules.html"%}
                                  </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group margin-bottom-med">
                                    <div class="form-group-prepend">
                                        <span
                                            class="form-group-text font-sz-mid"
                                            >Optional Modules:</span
                                        >
                                        <button
            class="btn-tertiary margin-bottom-sm"
            type="button"
            onClick="clearOM()"
        >
            <span class="form-group-text">
                Clear
            </span>
        </button>
                                    </div>
                                    <!-- <input
                                        name="om"
                                        type="text"
                                        class="form-control form-control-lg font-sz-mid"
                                        aria-label="Optional Modules to be mapped"
                                        value=""
                                    /> -->
                                    <select
                                      class="selectpicker form-control form-control-lg font-sz-mid"
                                      multiple
                                      data-live-search="true"
                                      name="om" id="om">
                                      {%include "modules.html"%}
                                    </select>
                                </div>
                            </div>
                        </div>
                        {% include "regions2.html" %}
                        <!-- <div class="form-group margin-bottom-med">
                            <div class="form-group-prepend">
                                <span class="form-group-text font-sz-mid"
                                    >Regions:</span
                                >
                            </div>
                            <div class="form-control-lg form-control">
                                <div class="form-check form-check-inline">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        id="americas"
                                        value="Americas"
                                        name="countries"
                                    />
                                    <label
                                        class="form-check-label"
                                        for="americas"
                                        >Americas</label
                                    >
                                </div>
                                <div class="form-check form-check-inline">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        id="asia"
                                        value="Asia"
                                        name="countrys"
                                    />
                                    <label class="form-check-label" for="asia"
                                        >Asia</label
                                    >
                                </div>
                            </div>
                            <button class="btn-tertiary margin-top-sm">
                                <span class="form-group-text">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        id="selectall"
                                        onClick="toggle(this)"
                                        style="opacity:0"
                                    />
                                    Select All
                                </span>
                            </button>
                        </div> -->
                        {% include "countries2.html" %}
                        <!-- Countries -->
                        <!-- <div class="form-group margin-bottom-med">
                            <div class="form-group-prepend">
                                <span class="form-group-text font-sz-mid"
                                    >Countries:</span
                                >
                            </div>
                            <select
                                class="selectpicker form-control-lg form-control"
                                multiple
                                data-live-search="true"
                                name="regions"
                            >
                                <option class="font-sz-mid">Australia</option>
                                <option class="font-sz-mid">Austria</option>
                            </select>
                        </div> -->

                        <!-- schools -->
                        {% include "schools2.html" %}
                        <!-- <div class="form-group margin-bottom-med">
                            <div class="form-group-prepend">
                                <span class="form-group-text font-sz-mid"
                                    >Schools:</span
                                >
                            </div>
                            <select
                                class="selectpicker form-control-lg form-control"
                                multiple
                                data-live-search="true"
                                name="schools"
                            >
                                <option class="font-sz-mid"
                                    >Aalto University, Helsinki</option
                                >
                                <option class="font-sz-mid"
                                    >Aalto University, Mikkeli</option
                                >
                                <option class="font-sz-mid"
                                    >York University</option
                                >
                                <option class="font-sz-mid"
                                    >Zhejiang University</option
                                >
                            </select>
                        </div> -->

                        <button
                            class="btn-primary margin-top-med"
                            type="submit"
                        >
                            Calculate
                        </button>
                    </form>
                </div>

                <!-- when the form is "open" add a "open" class -->
                <div
                    class="btn-collaspsible__up"
                    data-toggle="collapse"
                    data-target="#search-form-top"
                >
                    <i class="fas fa-arrows-alt-v"></i>
                </div>
            </div>


            <!-- main container -->
            <div class="main-container">
                {%for country in output_dict%}
                <div class="country-item ">
                    <div
                        onClick="onCountryClick(this)"
                        class="country-item__title"
                        id="{{''.join(country.split()).lower()}}"
                    >
                        <span class="heading-primary">{{country}}</span>
                    </div>
                    {% for i in range(max, min-1, -1) %} {% for uni in
                    output_dict[country] %} {% if
                    output_dict[country][uni]["n_mods"] == i %}
                    <div
                        class="pus-container"
                        id="{{''.join(country.split()).lower() + '-pus'}}"
                    >
                        <div class="pu-item">
                            <div
                                class="pu-item__title"
                                data-toggle="collapse"
                                data-target="{{'#' + ''.join(uni.split()).lower()}}"
                            >
                                <span class="heading-primary smaller"
                                    >{{uni}}</span
                                ><span
                                    class="badge badge-secondary badge-primary"
                                    >{{output_dict[country][uni]["n_mods"]}}</span
                                >
                            </div>

                            <div
                                class="pu-item__sm-modules-container collaspe show"
                                id="{{''.join(uni.split()).lower()}}"
                            >
                                <!-- could be sus -->
                                {{str_of_nusmods[uni]}}
                            </div>
                            <div
                                class="pu-item__mappings collapse"
                                id="{{''.join(uni.split()).lower()}}"
                            >
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th style="width: 50%">NUS</th>
                                            <th style="width: 50%">
                                                Partner University
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for nusmod in
                                        output_dict[country][uni] %} {% if
                                        nusmod != "n_mods" %}
                                        <tr>
                                            <td class="hello-world">
                                                {{nusmod.upper()}}<br /><span
                                                    class="description"
                                                    >{{nus_code_title_dict[nusmod]}}
                                                </span>
                                            </td>
                                            <td>
                                                {{output_dict[country][uni][nusmod]["PU Module Code"]}}<br />
                                                <span class="description"
                                                    >{{output_dict[country][uni][nusmod]["PU Module Title"]}}
                                                </span>
                                            </td>
                                        </tr>
                                        {% endif %}{% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endif %} {% endfor %} {% endfor %}
                </div>
                {% endfor %}
            </div>
            <footer class="small text-center text-muted" style="background-color: white;">
                A Hack & Roll 2021 Project by Tang Boxuan, Yeo Zhi Long, Sherwin Poh and Benjamin Lee. Information retrieved 8 Jan 2020.
            </footer>
            <script>
              if ( window.history.replaceState ) {
                  window.history.replaceState( null, null, window.location.href );
              }
          </script>
            <script
                src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"
            ></script>
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"
            ></script>
            <script
                src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"
            ></script>
            <script src="static/picker.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
        </div>
    </body>
</html>
