{% extends "layout.html" %} {% block title %} SEPicker {% endblock %} {% block
main %}
<script>
            window.onload = function() {
                var data = localStorage.getItem("plans")
                if(data){
                    var parsedData = JSON.parse(data);
                    var htmlstr = "";
                    parsedData.forEach(function(uniItem){
                        var tablehtml = `<table class="table ">
                            <thead>
                                <tr>
                                    <th style="width: 50%">NUS</th>
                                    <th style="width: 50%">
                                        Partner University
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            `;
                        Object.keys(uniItem.mappings).forEach(function(mapping){
                            if(mapping !== "n_mods"){
                            tablehtml = tablehtml + `<tr>
                                <td class="hello-world">
                                    `+mapping+`<br /><span
                                        class="description"
                                        >
                                    </span>
                                </td>
                                <td>
                                    `+uniItem.mappings[mapping]["PU Module Code"]+`<br />
                                    <span class="description"
                                        >`+uniItem.mappings[mapping]["PU Module Title"]+`
                                    </span>
                                </td>
                            </tr>`}
                        })
                        tablehtml = tablehtml + `</tbody>
                    </table>`;
                        htmlstr = htmlstr + `<div class="pu-item" id="`+ uniItem.plan_id +`">
                            <div
                                class="pu-item__title"
                            >
                                <span class="heading-primary smaller"
                                    >` + uniItem.uni +`</span
                                ><span
                                    class="badge badge-secondary badge-primary"
                                    >` + uniItem.mappings.n_mods + `</span
                                >
                            </div>
                            <div
                                class="pu-item__sm-modules-container"
                            >

                                <i
                                    class="fas fa-trash"
                                    id="`+ uniItem.plan_id +`"
                                    onClick="removeFavourite(this)"
                                ></i>
                            </div>
                            <div
                                class="pu-item__mappings"

                            >
                                ` + tablehtml + `
                            </div>
                        </div>`;
                    })
                    var main = document.getElementById("data-container");
                    main.innerHTML = htmlstr;
                }
            };

        </script>
<div class="main-container">
        <div class="search-form-title margin-bottom-med">
            <span class="heading-primary">Favourites</span>
        </div>
        <div id="data-container">
        </div>
</div>

<script src="static/picker.js"></script>
{% endblock %}
