<div class="input-group mb-3">
    <div class="input-group-prepend"><span class="input-group-text">Regions:</span></div>
    <div class="form-control">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="americas" value="Americas" name="regions">
          <label class="form-check-label" for="americas">Americas</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="asia" value="Asia" name="regions">
          <label class="form-check-label" for="asia">Asia</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="europe" value="Europe" name="regions">
          <label class="form-check-label" for="europe">Europe</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="oceania" value="Oceania" name="regions">
          <label class="form-check-label" for="oceania">Oceania</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="africa" value="Africa" name="regions">
          <label class="form-check-label" for="africa">Africa</label>
        </div>
    </div>
    <div class="input-group-append">
        <label class="form-check-label" for="selectall" style="cursor:pointer">
            <span class="input-group-text">
                <input class="form-check-input" type="checkbox" id="selectall" onClick="toggle(this)" style="opacity:0">
                Select All
            </span>
        </label>
    </div>
</div>