<div class="input-group mb-3">
    <div class="input-group-prepend"><span class="input-group-text">Schools:</span></div>
    <select class="selectpicker form-control" multiple data-live-search="true" name="schools">
        <option>Aalto University, Helsinki</option>
        <option>Aalto University, Mikkeli</option>
        <option>Aalto University</option>
        <option>Aarhus School of Business</option>
        <option>Aarhus University</option>
        <option>Amsterdam University College</option>
        <option>Arizona State University</option>
        <option>Athens University of Economics & Business</option>
        <option>BI Norwegian Business School</option>
        <option>Beihang University</option>
        <option>Bilkent University</option>
        <option>Bogazici University, Turkey</option>
        <option>Boston College, Massachusetts</option>
        <option data-tokens="bu">Boston University</option>
        <option>Brandeis University</option>
        <option>Bremen University of Applied Sciences</option>
        <option>Budapest University of Technology and Economics</option>
        <option data-tokens="Polytechnic University">California Poly State Uni, SLO</option> 
        <option>California State University East Bay</option> <!--capitalised b-->
        <option data-tokens="cmu">Carnegie Mellon University</option>
        <option>Case Western Reserve University</option>
        <option>Catholic University of Portugal</option>
        <option>Central University of Finance & Economics</option>
        <option>CentraleSupelec - Ecole Centrale Paris</option>
        <option>Chalmers University of Technology</option>
        <option>Chang Gung University</option>
        <option>Charles University in Prague</option>
        <option>Chongqing University</option>
        <option>Chulalongkorn University</option>
        <option>City University of Hong Kong</option>
        <option data-tokens="uol">City, University of London</option>
        <option>Clarkson University</option>
        <option>Colgate University</option>
        <option>Columbia University</option>
        <option>Concordia University</option>
        <option>Copenhagen Business School</option>
        <option>Cornell University</option> <!--merged cornell-->
        <option>Corvinus University of Budapest</option>
        <option>Cracow University of Technology</option>
        <option>Czech Technical University</option>
        <option>Dalhousie University</option>
        <option>Delft University of Technology</option>
        <option>Dresden University of Technology</option>
        <option>Duke University</option>
        <option>Durham University</option>
        <option>ESSEC Business School</option>
        <option>ETH Zurich</option>
        <option>Eckerd College</option>
        <option>Ecole Centrale Des Arts Et Manufactures, Paris</option>
        <option data-tokens="epfl">Ecole Polytechnique Federale de Lausanne</option>
        <option>Ecole Speciale D'Architecture, Paris</option>
        <option>Eindhoven University of Technology</option>
        <option>Emory University</option>
        <option>Erasmus University</option>
        <option>Esc. Sup. De Admin. Y Dir. De Empresas</option>
        <option>European Business School</option>
        <option>Ewha Women's University,Seoul</option>
        <option>Free University of Berlin</option>
        <option>Free University of Brussels</option>
        <option>Fudan University</option>
        <option>Georg-August-University</option>
        <option>Georgetown University</option> <!--merged georgetown-->
        <option>Georgia Institute of Technology</option>
        <option>Gottingen University</option>
        <option>Grenoble Institute of Technology (Grenoble INP)</option>
        <option data-tokens="hautes etudes commerciales">HEC Montreal</option>
        <option>Hamburg University of Technology (TUHH)</option>
        <option>Hankuk University of Foreign Studies</option>
        <option>Hanyang University</option>
        <option>Hautes Etudes Commerciales (HEC) Paris</option>
        <option>Heidelberg University (Rupr-Karls-Uni Heidelberg)</option>
        <option>Helmut Schmidt University</option>
        <option>Hokkaido University</option>
        <option data-tokens="hkust">Hong Kong University of Science & Technology</option>
        <option>Humboldt University of Berlin</option>
        <option>Humboldt-Universitaet zu Berlin</option>
        <option>IE Business School</option>
        <option data-tokens="icl">Imperial College London</option> <!--removed imperial business-->
        <option>Indiana University, Bloomington</option>
        <option>Inst Tech y de Estudios Superiores de Monterrey</option>
        <option>Institut d'Etudes Politiques de Grenoble</option>
        <option>Instituto Technologico Autonomo de Mexico</option>
        <option>Interdisciplinary Center Herzliya (IDC)</option>
        <option>Iowa State University</option>
        <option>Jagiellonian University</option> <!--removed poland-->
        <option data-tokens="jhu">Johns Hopkins University</option>
        <option>Justus Liebig University, Giessen</option>
        <option>KTH Royal Institute of Technology</option>
        <option>Karlsruhe Institute of Technology</option>
        <option>Karolinska Institute</option>
        <option>Keio University</option>
        <option>Khon Kaen University</option>
        <option data-tokens="kcl uol">King's College London</option>
        <option>Koc University</option>
        <option data-tokens="institute science technology">Korea Advanced Inst of Sci & Tech</option>
        <option>Korea University</option>
        <option>Kyoto University</option>
        <option>Kyushu University</option>
        <option>La Trobe University</option>
        <option>LaTrobe University</option>
        <option>Leiden University Medical Center (LUMC)</option>
        <option>Leiden University</option>
        <option>Linkoping University</option>
        <option data-tokens="lse uol">London School of Economics & Political Science</option>
        <option>Loughborough University</option>
        <option>Ludwig-Maximilians-University of Munich</option>
        <option>Lund University</option>
        <option>Maastricht University</option>
        <option>Mahidol University</option>
        <option>Management Center Innsbruck</option>
        <option>Mannheim Business School</option>
        <option>McGill University</option>
        <option>McMaster University</option>
        <option>Meiji University</option>
        <option>Minzu University of China</option>
        <option>Monash University</option>
        <option data-tokens="nus overseas college">NOC Beijing</option>
        <option data-tokens="nus overseas college">NOC Israel</option>
        <option data-tokens="nus overseas college">NOC Munich</option>
        <option data-tokens="nus overseas college">NOC New York</option>
        <option data-tokens="nus overseas college">NOC Shanghai</option>
        <option data-tokens="nus overseas college">NOC Shenzhen</option>
        <option data-tokens="nus overseas college">NOC Silicon Valley</option>
        <option data-tokens="nus overseas college">NOC Stockholm</option>
        <option data-tokens="nus overseas college">NOC Toronto</option>
        <option>Nanjing University</option>
        <option>Nankai University</option>
        <option data-tokens="ntu">Nanyang Technological University</option>
        <option>National Cheng Kung University</option>
        <option>National Chengchi University</option>
        <option>National Chiao Tung University</option>
        <option>National Taiwan University of Science & Technology</option>
        <option>National Taiwan University</option>
        <option data-tokens="tsinghua">National Tsing Hua University</option>
        <option data-tokens="nyu">New York University</option>
        <option>North Carolina State University</option>
        <option>Northwestern University</option>
        <option>Norwegian Sch of Veterinary Science</option>
        <option>Norwegian School of Economics</option>
        <option>Norwegian University of Science & Technology</option>
        <option>Osaka University</option>
        <option>Oulu University</option>
        <option>Oxford Brookes University</option>
        <option data-tokens="beida beijing">Peking University</option>
        <option>Pennsylvania State University</option>
        <option>Pohang University of Science & Technology</option>
        <option>Purdue University</option>
        <option>Queen's University at Kingston</option>
        <option>RWTH Aachen University</option>
        <option>Radboud University Nijmegen</option>
        <option>Renmin University of China</option>
        <option>Rheinisch Friedrich-Wilhelms University of Bonn</option>
        <option>Rice University</option>
        <option>Richard Ivey Sch of Biz, Univ of Western Ontario</option>
        <option>Riga Technical University</option>
        <option>Ritsumeikan University,Kyoto</option>
        <option>Rotterdam School of Management</option>
        <option data-tokens="uol">Royal Holloway, University of London</option>
        <option>Sabanci University</option>
        <option>Saint Petersburg State University</option>
        <option>Sciences Po</option>
        <option>Seoul National University</option>
        <option data-tokens="sjtu">Shanghai Jiao Tong University</option>
        <option>Simon Fraser University</option>
        <option data-tokens="smu">Singapore Management University</option>
        <option data-tokens="sutd">Singapore University of Technology and Design</option>
        <option>Stanford University</option>
        <option>Stockholm School of Economics</option>
        <option>Sun Yat Sen University</option>
        <option>Sungkyunkwan University</option>
        <option>Suzhou University</option>
        <option>Swiss Federal Institute of Technology Lausanne</option>
        <option>Tallinn University of Technology</option>
        <option>Tampere University of Technology</option>
        <option>Technical University of Berlin</option>
        <option>Technical University of Darmstadt</option>
        <option>Technical University of Denmark</option>
        <option>Technical University of Munich</option>
        <option>Tel Aviv University</option>
        <option>Texas A & M University</option> <!--removed college station, texas-->
        <option>Thammasat University</option>
        <option>The Australian National University</option>
        <option>The Chinese University of Hong Kong</option>
        <option>The College of William & Mary</option>
        <option>The George Washington University</option>
        <option>The Hebrew University of Jerusalem</option>
        <option>The Hong Kong Polytechnic University</option>
        <option>The LNM Institute of Information Technology</option>
        <option>The University of Adelaide</option>
        <option>The University of Arizona</option>
        <option>The University of Auckland</option>
        <option data-tokens="ubc">The University of British Columbia (Okanagan)</option>
        <option data-tokens="ubc">The University of British Columbia</option>
        <option data-tokens="uoe">The University of Edinburgh</option>
        <option>The University of Hong Kong</option>
        <option>The University of Manchester</option>
        <option>The University of Melbourne</option>
        <option data-tokens="unswm">The University of New South Wales</option>
        <option>The University of Nottingham</option>
        <option>The University of Queensland</option>
        <option>The University of Sheffield</option>
        <option>The University of Sydney</option>
        <option data-tokens="ut">The University of Texas at Austin</option>
        <option>The University of Tokyo</option>
        <option>The University of Western Australia</option>
        <option>Tianjin University of Finance and Economics</option>
        <option>Tianjin University</option>
        <option>Tilburg University</option>
        <option>Tohoku University</option>
        <option>Tokyo Institute of Technology</option>
        <option>Tokyo University of Foreign Studies</option>
        <option>Tokyo University of Marine Science and Technology</option>
        <option>Tongji University</option>
        <option>Trinity College Dublin</option>
        <option>Tsinghua University</option>
        <option>Tulane University</option>
        <option>Tunghai University</option>
        <option>Universidad Autonoma de Madrid</option>
        <option>Universidad Catolica De Honduras</option>
        <option>Universidade Nova De Lisboa</option>
        <option>Universita degli Studi di Trento</option>
        <option>Universitat Autonoma de Barcelona</option>
        <option>Universite Catholique De Louvain</option>
        <option>Universite Catholique de Louvain</option>
        <option>Universiteit van Stellenbosch</option>
        <option>University College Cork, Ireland</option>
        <option data-tokens="ucd">University College Dublin</option>
        <option data-tokens="ucl uol">University College London</option> <!--removed UCL, UOL-->
        <option>University of Aberdeen</option>
        <option>University of Alberta</option>
        <option>University of Amsterdam</option>
        <option>University of Antwerp</option>
        <option>University of Applied Sciences Esslingen</option>
        <option>University of Bath</option>
        <option>University of Birmingham</option>
        <option>University of Bordeaux</option>
        <option>University of Bristol</option>
        <option>University of Brussels, Solvay Business School</option>
        <option>University of Calgary</option>
        <option data-tokens="ucb">University of California, Berkeley</option>
        <option data-tokens="ucd">University of California, Davis</option>
        <option data-tokens="uci">University of California, Irvine</option>
        <option data-tokens="ucla">University of California, Los Angeles</option>
        <option data-tokens="ucm">University of California, Merced</option>
        <option data-tokens="ucr">University of California, Riverside</option>
        <option data-tokens="ucsd">University of California, San Diego</option>
        <option data-tokens="ucsb">University of California, Santa Barbara</option>
        <option data-tokens="ucsc">University of California, Santa Cruz</option>
        <option data-tokens="uc">University of California</option>
        <option>University of Cambridge</option>
        <option>University of Canterbury</option>
        <option>University of Cologne</option>
        <option>University of Colorado Boulder</option>
        <option>University of Commerce 'Luigi Bocconi' Milan</option>
        <option>University of Connecticut</option>
        <option>University of Copenhagen</option>
        <option>University of Delaware</option>
        <option>University of Dundee</option>
        <option>University of Florida</option>
        <option>University of Geneva</option>
        <option>University of Georgia</option>
        <option>University of Glasgow</option>
        <option>University of Goteborg</option>
        <option>University of Gothenburg</option>
        <option>University of Guelph</option>
        <option>University of Hawaii, Manoa</option>
        <option>University of Helsinki</option>
        <option>University of Hohenheim</option>
        <option data-tokens="uiuc">University of Illinois, Urbana-Champaign</option>
        <option>University of Innsbruck</option>
        <option>University of Kaiserslautern, FRG</option>
        <option>University of Konstanz</option>
        <option>University of Lausanne</option>
        <option>University of Leeds</option>
        <option>University of Liverpool</option>
        <option>University of Ljubljana</option>
        <option>University of Mannheim</option>
        <option>University of Maryland</option>
        <option>University of Miami</option>
        <option data-tokens="umich">University of Michigan, Ann Arbor</option>
        <option>University of Minnesota</option>
        <option>University of Navarra</option>
        <option>University of Newcastle upon Tyne</option>
        <option>University of Newcastle</option>
        <option data-tokens="unc">University of North Carolina, Chapel Hill</option>
        <option data-tokens="unc">University of North Carolina, Kenan-Flagler</option>
        <option>University of Notre Dame</option>
        <option>University of Nottingham Malaysia Campus</option>
        <option>University of Oregon</option>
        <option>University of Oslo</option>
        <option>University of Otago</option>
        <option>University of Ottawa</option>
        <option>University of Oxford</option>
        <option>University of Pennsylvania</option>
        <option>University of Pittsburgh</option>
        <option>University of San Diego</option>
        <option>University of Seoul</option>
        <option>University of Southampton</option>
        <option data-tokens="usc">University of Southern California</option>
        <option>University of Southern Denmark - Odense University</option>
        <option>University of St Andrews</option>
        <option>University of St Gallen</option>
        <option>University of Stockholm</option>
        <option>University of Strathclyde</option>
        <option>University of Stuttgart</option>
        <option>University of Technology of Compiegne</option>
        <option>University of Technology of Troyes</option>
        <option>University of Toronto (Mississauga)</option>
        <option>University of Toronto</option>
        <option>University of Victoria, British Columbia</option>
        <option>University of Virginia</option>
        <option>University of Warwick</option>
        <option>University of Washington, Seattle</option>
        <option>University of Waterloo</option>
        <option>University of Wisconsin-Madison</option>
        <option>University of Wurzburg</option>
        <option>University of York</option>
        <option>University of Zagreb</option>
        <option>University of Zurich</option>
        <option>University of the Republic, Uruguay</option>
        <option>Uppsala University</option>
        <option>Utrecht University</option>
        <option>Vanderbilt University</option>
        <option>Victoria University of Wellington</option>
        <option>Victoria University</option>
        <option>Vienna University of Economics and Business</option>
        <option>Vilnius University</option>
        <option>WHU - Otto Beisheim School of Management</option>
        <option>Warsaw School of Economics</option>
        <option>Waseda University</option>
        <option>Western University</option>
        <option>Xi'an Jiaotong University</option>
        <option>Xiamen University</option>
        <option>Yale University</option>
        <option>Yonsei University</option>
        <option>York University</option>
        <option>Zhejiang University</option>
    </select>
</div>