<div class="form-group margin-bottom-med">
    <div class="form-group-prepend">
        <span class="form-group-text font-sz-mid">Schools:</span>
        <button
            class="btn-tertiary margin-bottom-sm"
            type="button"
            onClick="clearSchool()"
        >
            <span class="form-group-text">
                Clear
            </span>
        </button>
    </div>
    <select
        class="selectpicker form-control-lg form-control"
        multiple
        data-live-search="true"
        name="schools"
        id="schools"
    >
    {% for school in list_of_schools %}
      {% if school in selected_schools %}
        <option class="font-sz-mid" selected>{{school}}</option>
      {% else %}
        <option class="font-sz-mid">{{school}}</option>
      {% endif %}
    {% endfor %}

    </select>

</div>
